html{
  height: 100%;
}
body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #46016e;
  min-height: 100%;
  background-image: linear-gradient(to bottom ,#d9c2ee,#ad73cf );
  background-attachment: fixed;
}

h1,h2{
  text-shadow: 1px 2px 2px rgb(124, 17, 153);
}

input[type=date]{
  width: 50%;
}


input[type=email], 
input[type=password],
input[type=text],
input[type=number],
input[type=date],
.dog-select {
  width: 50%;
  padding: 12px 10px;
  margin: 8px 0;
  display:inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
}

input[type=number]{
  width: 30%;
}

h1:hover,
h2:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=text]:hover,
input[type=number]:hover,
input[type=date]
{
  transition: ease-in-out 0.2s;
  letter-spacing: 10px;
  color: #ff9900;
}
textarea{
  max-width: 50%;
  min-width: 50%;
  min-height: 100px;
  max-height: 300px;
  font-size: 15px;
  border-width: 2px;
  border-color: #46016e;
  border-radius: 4px;
}
input[type=file]{

  background-color: #46016e;
  color:#ccc;
  width: 30%;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  margin: auto;
}
input[type=file]:hover{
  background-color: #7e18b9;
  transition: ease-in-out 0.2s;
}
textarea:hover{
  transition: ease-in-out 0.2s;
  border-color:  #ff9900;
}

input[type=radio]{
  accent-color:#5d0391;
  height: 25px;
  width: 25px;
}

input[type=radio]:hover{
  transform: scale(1.3);
  transition:  ease-in-out 0.2s;
}

.dog-select{
  display: block;
  margin: auto;
  border: 1px solid  #46016e;
  text-align: center;
  display: inline-block;
  font-weight: bolder;
}

.dog-select:hover{
  font-weight: bolder;
  transition: ease-in-out 0.2s;
  letter-spacing: 10px;
}

hr{
 border: 1px solid#5d0391;
 width: 50%;
}

.p-text{
  display: inline-block;
  margin: 10px;
  font-size:  20px;
  font-weight:  bold;
}

a{
  color: #46016e;
}

a:visited{
 color: #46016e;
}

h1 a{
  text-decoration: none;
 }

h1{
  text-align: center;
  position: relative;
  font-size: 50px;
  font-weight: bolder;
  color: #46016e;
}

.h2-login:hover{
  color: #ff7b00;
  transition: ease-in-out 0.2s;
}

.large-button {
    /*background-image: linear-gradient(to bottom right, #6d04aa 0%, #9733EE  60%, #ff9900 100%);*/
    background: linear-gradient( #6d04aa, #5f04aa);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 10px;
}

.large-button:hover {
  transition: ease-in-out 0.3s;
  opacity: 0.8;
  background: linear-gradient( #ff9900, #e97100);
  scale: 1.05;
}

.medium-button {
  /*background-image: linear-gradient(to bottom right, #6d04aa 0%, #9733EE  60%, #ff9900 100%);*/
  background: linear-gradient( #6d04aa, #5f04aa);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  border-radius: 10px;
}

.medium-button:hover {
transition: ease-in-out 0.2s;
opacity: 0.8;
background: linear-gradient( #ff9900, #e97100);
scale: 1.01;

}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  margin: auto;
  width: 15%;
  display:block;
  line-height: 1px;
}
img.avatar:hover {
  filter: grayscale();
  transition: ease-in-out 0.5s;
}

.container {
  padding: 5px;
  text-align: center;
}

span.psw {
  float: right;
  padding-top: 16px;
}
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.footer{
  bottom: 0;
  text-align: center;
}

         
